name: CI

on: [push, pull_request]

jobs:
  bigsur:
    name: arm64-candi test
    runs-on: [self-hosted]

    steps:
    - uses: actions/checkout@v2
    - name: setup
      run: |
        git clone -b dealii-9.3 https://github.com/dealii/candi.git
        cd candi
        ./candi.sh  -j 2 --packages="once:p4est once:trilinos once:petsc dealii" --platform=deal.II-toolchain/platforms/supported/catalina.platform

